<app-navbar></app-navbar>
<div class="container">
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-6">
                <img src="{{ 'https://rjtmobile.com/grocery/images/' + product.image }}" class="img-fluid"  alt="" />
            </div>
            <div class="col-lg-6">
                <h3>{{ product.productName }}</h3>
                <p> {{ product.unit }} </p>
                <p> {{ product.description }} </p>
                <h2>
                    {{ product.price | currency }}
                    <span class="mrp">
                        <del>{{ product.mrp | currency }}</del>
                    </span>
                </h2>
                <button class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
    </div>
</div>